@import '../../scss/variables.scss';

.sub-header {
  background: $dark-blue--1;
  border-bottom: 1px solid $dark-blue--3;
  display: flex;
  height: 100px;
  overflow-x: auto;

  .sub-header__item {
    min-width: 180px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover, &.selected {
      background: $dark-blue--2;
    }
  }

  .exp-image {
    width: 90%;
    height: auto;
  }
}
