@import '~toastr/toastr.scss';

* {
  &:focus {
    outline: 0;
  }
}

html {
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  color: $white;
  background-color: $dark-blue;
}

.fa {
  margin-right: 5px;
  margin-left: 5px;
}

a {
  text-decoration: none;
  color: $blue;
  transition: all 0.2s linear;
  cursor: pointer;

  &:hover {
    color: $blue--lighter;
  }
}

::-webkit-scrollbar-track
{
	border-radius: 10px;
  background-color: none;
}

::-webkit-scrollbar
{
	width: 5px;
	height: 5px;
	background-color: none;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: darken($dark-blue, 5%);
}
